:root{
    --bg-color: white;
    --bg: white;
    --bd-color:#13293d;
}

body{
    background-color: val(--bg-color);
    
    
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;    
    flex-direction: column;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.logo-class{
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;

}


header{
    padding: 0px 20px 0 20px ;
    position:  relative;
    display: flex;
    justify-content: space-between;
}

header h2{
    margin-left:160px;
}

header img{
    transition: 2s;
}

.logo-img{
    position: absolute;
    z-index: 1000; /* to bring that image on top of other element, so when mouse hover event occurs i t can expand and display the image completely*/
    margin-top: 0;
    
    
}

header div{
    
    
}

header div img:hover{
    width: 250px;
    transition: 2s;

    background-image: url("/assets/images/avatar-full-photo.jpg");
    content:  url("/assets/images/avatar-full-photo.jpg");
    src:  url("/assets/images/avatar-full-photo.jpg");
}

header ul li {
    display: inline;
    list-style: none;
    padding-right: 10px ;
}

nav ul li:hover{
    border-bottom: 2px solid;
    cursor: pointer ;

}
.relative{
    position: relative;
}

section p{
    
    color: var(--bg);
    position: relative;
    text-align: right;
    padding-right: 20px;
    top: -100px;
    font-size: 30px;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.space-around{
    width: 200px;
    
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */

    header,
    nav {
      flex-direction: column;
      
    }

    nav ul{
        padding-left: 0;

    }
    header h2{
        margin-left:60px;
    }

    header div img{
        width: 50px;
        transition: 2s;
    }

    header ul li {
        display: block;
        list-style: none;
        padding: 20px;
    }
}